/* configs gerais */
*{
    margin: 0;
}
div#imagem{
    height: 200px;
    width: 200px;
    background-image: url("../imagens/istockphoto-178447404-612x612.jpg");
    background-size: cover;
    display: inline-block;

}
body{
    background-image: linear-gradient( to left, #5B327F, #3D7F80);
}
section{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}
h1, p#texto{
    text-align: center;
    margin: 10px;
}
input{
    border-radius: 5px;
}
input.campo{
    width: 98.5%;
    height: 20px;
    background-color: #3d7f804b;
    border: 1px solid #5B327F;
}
p{
    margin: 5px;
}
input.botao{
    width: 100%;
    height: 33px;
    color: #3D7F80;
    border: 1px solid #3D7F80;
}
input.botao:hover{
    transition: 0.5s;
    background-color: #3D7F80;
    color: white;
    border: 1px solid white;
}
