@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Playpen+Sans+Hebrew:wght@100..800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(211, 211, 211, 0.112);
}

header{
    color: white;
    background-color: #089746;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
header > h1{
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.274);
}
section.normal{
    padding: 60px 0px 60px 100px;
}
section > p{
    font-family: "Playpen Sans Hebrew", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 2em;
    line-height: 1.7em;
}
section.imagem{
    padding: 80px 0px 80px 100px;
}
section.imagem > p{
    color: white;
    background-color: rgba(0, 0, 0, 0.51);
    border-radius: 10px;
    display: inline-block;
}
section#img01{
    background-image: url(../imagens/imagem02.webp);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
section#img02{
    background-image: url(../imagens/img04.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}
section#img03{
    background-image: url(../imagens/imagem06.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
aside{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8em;
}
a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
footer{
    /* color: white; */
    background-color: #FFCD08;
    text-align: center;
    padding: 20px;
}