body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
     border-collapse: collapse;
     width: 600px;
}
td, th{
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}
thead, .titulo{
    background-color: gray;
    color: white;
}
thead{
    text-align: center;
}
.sexo{
    font-weight: bolder;
}
.coluna1{
    background-color: aqua;
}
